<section class="park-scene" aria-hidden="true">
  <img class="bottom-park-art bottom-park-left" src="/assets/illustrations/bottom-park-left.png" alt="" decoding="async" loading="lazy" />
  <img class="bottom-park-art bottom-park-tree" src="/assets/illustrations/bottom-park-tree.png" alt="" decoding="async" loading="lazy" />
  <svg class="street-lamp" viewBox="0 0 92 198" aria-hidden="true">
    <g class="sketch-line">
      <path d="M47 62v105M43 62v105M36 167h19M39 181h14M31 190h32" />
      <path d="M32 51h26l-5 26H37L32 51Z" />
      <path d="M35 51c3-13 18-18 25-2M42 35c2-8 10-10 15-3M45 28v-9M38 77h18M40 51c1 8 1 17-1 26M51 51c-1 8-1 17 1 26" />
      <path d="M21 191c17-5 36-5 55 0" />
    </g>
  </svg>

  <svg class="bench" viewBox="0 0 182 92" aria-hidden="true">
    <g class="sketch-line">
      <path d="M32 35c29-4 58-4 88 0M27 45h105M26 56h110M31 67h99" />
      <path d="M35 29c-5 2-8 8-8 16M123 29c7 2 10 8 9 17M40 67l-10 19M116 67l12 19M56 67v18M98 67v18" />
      <path d="M18 86h132M6 88c11-4 23-4 35-1M142 87c11-4 22-4 33 0" />
    </g>
  </svg>

  <svg class="tree" viewBox="0 0 220 250" aria-hidden="true">
    <g class="sketch-line">
      <path d="M111 226c0-30 2-58 2-85M113 178c-12-15-26-27-43-36M116 168c15-14 29-29 42-48M111 202c-13-5-28-7-45-4M116 201c19-8 38-12 58-11" />
      <path d="M106 226c8-29 6-56 7-87M118 226c-6-24-4-51-2-78" />
      <path d="M54 132c-17-3-30-13-36-27-6-15-1-31 12-40 10-7 23-9 36-5 4-18 17-31 35-34 18-2 34 6 43 21 15-10 34-7 46 5 12 12 14 31 4 46 14 7 20 22 14 37-6 15-22 24-40 22-7 14-20 24-36 27-17 3-33-1-45-13-16 8-36 5-48-7-9-9-12-21-7-32" />
      <path d="M43 77c13-10 28-11 44-3M92 48c16-7 35-2 46 12M151 66c17-1 31 10 34 27M171 111c16 8 19 24 8 36M129 160c14 8 30 7 45-3M78 149c14 13 34 15 51 5M44 121c13 8 30 8 44 1" />
      <path d="M73 95c13-7 27-6 39 3M113 93c15-11 33-12 48-2M62 112c16 2 28 9 38 20M139 122c10-10 23-15 38-15" />
      <path d="M24 232c41-7 82-8 123-2M144 232c18-7 38-8 59-3" />
    </g>
  </svg>

  <svg class="grass grass-left" viewBox="0 0 260 64" aria-hidden="true">
    <g class="sketch-line">
      <path d="M5 52c30-8 61-8 92 0M111 52c31-8 62-8 93 0M207 52c17-4 32-4 48 0" />
      <path d="M35 51c-2-11 1-21 9-31M43 51c5-14 13-24 25-30M24 51c-8-10-12-20-13-32M73 52c3-11 10-19 20-25M143 52c-2-13 2-24 12-34M153 52c6-15 17-25 33-30M132 52c-8-10-13-22-14-36" />
    </g>
  </svg>

  <svg class="grass grass-right" viewBox="0 0 270 64" aria-hidden="true">
    <g class="sketch-line">
      <path d="M9 52c34-8 68-8 102 0M113 52c35-9 70-9 105 0M218 52c15-4 30-3 45 1" />
      <path d="M50 52c-4-16 0-29 14-41M61 52c7-16 18-26 33-29M36 52c-11-12-17-26-18-41M136 52c-3-16 2-29 16-40M148 52c8-17 22-29 42-35M123 52c-9-10-14-23-15-38" />
    </g>
  </svg>
</section>
